/**
 * You must have to:
 *  - copy this files and rename it "config.js"
 *  - edit this one with your sql ID and choose a port to launch the API
 */

const sql_config = {
    host: 'localhost',
    user: 'root',
    password: 'root',
    database: 'eshop_pkm',
    dialect: 'mariadb',
    pool: {
        max: 5,
        min: 0,
        acquire: 30000,
        idle: 1000
    }
}

const api_port = 3000;

const front_office_port = 8080;

const smtp = {
    user: "johndoe@ethereal.email",
    pass: "blablablabla"
}

module.exports.sql_config = sql_config;
module.exports.api_port = api_port;
module.exports.front_office_port = front_office_port;
module.exports.smtp = smtp;



