/**
 * You must have to:
 *  - copy this files and rename it "config.js"
 *  - edit this one with your sql ID
 */

const config = {
    host: 'localhost',
    user: 'root',
    password: 'test',
    database: 'eshop_pkm',
    port: 3006
}

module.exports = config;



